= simple_form_for([@post, @post.comments.build]) do |f|
  = f.error_notification
  .form-inputs
    = f.input :content
    = f.input :approved
    = f.hidden_field :post_id
  .form-actions
    = f.button :submit