<p id="notice"><%= notice %></p>

<div class="row">
  <div class="large-8 large-centered columns">
    <h5><small>Comments for the post:</small> <%= @post.title %></h5>
    <hr>
    <h5>Moderation table</h5>
    <%= form_tag approve_post_comments_path, method: :put do %>
      <table>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Comment</th>
          <th>Status</th>
        </tr>
        <% @post.comments.draft.each do |comment| %>
        <tr>
          <td><%= check_box_tag "comment_ids[]", comment.id %></td>
          <td><%= comment.author.username %> </td>
          <td><%= comment.content %></td>
          <td><%= comment.approved %></td>
        </tr>
        <% end %>
      </table>
      <%= submit_tag "Approve Comments"%>
    <% end %>
    <h5>All Approved Comments</h5>
    <table>
      <tr>
        <th>id</th>
        <th>Name</th>
        <th>Comment</th>
        <th>Status</th>
      </tr>
      <% @post.comments.approved.each do |comment| %>
      <tr>
        <td><%= comment.id %></td>
        <td><%= comment.author.username %></td>
        <td><%= comment.content %></td>
        <td><%= comment.approved %></td>
      </tr>
      <% end %>
    </table>
    <hr>
    